<h1>Dictionary</h1>

<h3>Words currently in dictionary</h3>

    <ol>
        <% @all_words.each() do |word| %>
        <li> <a href ="/single_word/<%= word.w_id() %>"> <% word %></a></li>
        <form action ="delete_word" method = "post">
            <input id = 'word_id' name = 'word_id' type = 'hidden' value = '<%= word.w_id() %>'>
            <button type= 'submit'> Delete </button>
        </form>
        <% end %>
    </ol>

<h3>Add a word:</h3>
    <form action = "/all_words" method = "post">
        <label for = "user_word"></label>
        <input id = "user_word" name = "user_word" type = "text">
        <button type = "submit">Add Word</button>
    </form>
