<h1>Dictionary</h1>

<h3>Words currently in dictionary</h3>


    <ol>
        <%  @all_words.each() do |word| %>
        <li> <a href ="/single_word/<%= word.w_id() %>"> <%= word.name() %></a></li>
        <form action ="/delete_word" method = "post">
            <input id = 'word_id' name = 'word_id' type = 'hidden' value = '<%= word.w_id() %>'>
            <button type= 'submit'> Delete </button>
        </form>
        <% end %>



    <form action = "/new_word" method = "post">
        <label for = "user_word">Add Word</label>
        <input id = "user_word" name = "user_word" type = "text">
        <button type = "submit">Add</button>
    </form>
</ol>
